parameters:
    level: 8
    tmpDir: var/phpstan
    paths:
        - src
        - tests
    excludePaths:
        - src/Migrations (?)
    symfony:
        containerXmlPath: null
    doctrine:
        objectManagerLoader: null
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - identifier: propertyGetHook.noRead
        -
            identifier: property.onlyWritten
            path: src/Application/Resolver/FormSchemaResolver.php

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
